$white: #fff;
$black: #111;
$grey: #aaa;
$grey-light: #f8f8f8;
$grey-dark: #f4f2f2;
$grey-c: #cccccc;
$grey-9: #999;
$grey-e: #eaeaea;
$grey-b: #bfbfbf;
$silver: #dddddd;
$navy: #001f3f;
$blue: #0074d9;
$fb: #4267b2;
$aqua: #7fdbff;
$teal: #39cccc;
$purple: #b10dc9;
$fuchisia: #f012be;
$maroon: #85144b;
$red: #ff4136;
$orange: #ff851b;
$yellow: #ffdc00;
$olive: #3d9970;
$green: #2ecc40;
$lime: #01ff70;

$roboto: Roboto, sans-serif;
$rubik: Roboto, sans-serif;
$small: '576px';
$medium: '768px';
$large: '992px';
$extra-large: '1200px';
$extra-extra-large: '1400px';
